---
layout: default
---
<div class="gallery">
    <div class="gallery-items">
        {% for gallery_page in site.pages %}
            {% if gallery_page.url contains '/gallery/' and gallery_page.url != '/gallery/' %}
                {% assign filename = gallery_page.url | replace: '/gallery/', '' | replace: '/', '' %}

                <a class="gallery-item" href="{{ gallery_page.url }}">
                    <img src="/gallery/{{ filename }}.jpg">
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/gallery.js"></script>
